
@font-face { font-family: CFSpaceship; src: url('../fonts/CFSpaceship-Regular.ttf'); } 
.button {
	 width: 80px;
    height: 80px;
    -webkit-border-radius: 43px;
    background-color:black;
    border:3px solid cyan;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    -webkit-box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    margin-right: 5px;
    position: relative;

}
.button .inner-circle {
	 width: 60px;
    height: 60px;
    -webkit-border-radius: 33px;
    background-color:black;
    border:3px solid #0a6e70;		
    margin:0 auto; 

}
.unit-bar-title {
    position: relative;
    top:-10px;
    letter-spacing: 2px;
    
    color:cyan;
    font-family: Tahoma;
    font-size:15px;
}

.btn-research {
    background-image: url("../img/buttons/research.png");
    background-repeat: no-repeat;
    background-position: 40% 42%;

    background-size:40px 40px;

}